<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>index page</h1>
<hr>

{{#loginId}}
    <p>name : <strong>{{loginId}} </strong></p>
    <button onclick="location.href='/product'">상품 조회</button>
    <button onclick="location.href='/warehouse'">창고 조회</button>
    <form action="/logout" method="post" style="display: inline;">
        <button type="submit">로그아웃</button>
    </form>
{{/loginId}}

{{^loginId}}
    <button onclick="location.href='/login'">로그인</button>
    <button onclick="location.href='/signup'">회원가입</button>
{{/loginId}}

</body>
</html>
